img{
    float: left;
}

.titleFont {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
   
}
.regFont {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
}
.navBox{
    display: inline;
}

